.section_padding {
    padding: 100px 0;
}

.cantact_v2 {
    padding-top: 120px;
}

.deneb_contact {
    position: relative;
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}